@use "components/_varibles";
@use "components/_base";
@use "components/header";
@use "components/links";
@use "components/buttons";
@use "components/heading";
@use "components/inputs";

// @use "components/footer";
// @use "../assets/css/tailwind.css";
