    @use "../../../components/_breakpoints" as b;
    @use "sass:map";

    %woo-pagination {
        .woocommerce-pagination {
            display: flex;
            padding-block: clamp(2rem, 4vw, 3.5rem);

            .page-numbers {
                list-style: none;
                margin: 0 auto;
                gap: 10px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                min-width: 35px;
                height: 35px;
                color: var(--color-dark, #000);
                font-weight: 600;
                font-size: 14px;
                transition: all 0.2s ease;


                li {
                    border-radius: 0.5rem;
                    border: none;
                    overflow: hidden;

                    span {
                        &.current {
                            border-radius: 0.5rem;
                            color: var(--white-color, #fff);
                            background-color: var(--color-primary);
                        }
                    }

                    a {

                        &.prev,
                        &.next {
                            font-size: 2rem;
                            line-height: 1;
                            font-weight: 300;
                            color: rgba(255, 255, 255, 0);
                            position: relative;

                            &::before {
                                content: '';
                                position: absolute;
                                width: 0.5rem;
                                height: 0.675rem;
                            }

                            @media (hover: hover) {
                                &:hover {
                                    color: rgba(255, 255, 255, 0);
                                }
                            }
                        }

                        &.prev {
                            &::before {
                                background: url(../assets/image/prev.svg) no-repeat center/cover;

                            }


                        }

                        &.next {
                            &::before {
                                background: url(../assets/image/next.svg) no-repeat center/cover;

                            }

                        }

                        @media (hover: hover) {
                            &:hover {
                                background-color: var(--color-primary);
                            }
                        }
                    }

                }
            }
        }
    }