 $grid-breakpoints: (
   xs: 0,
   sm: 576px,
   max-sm: calc(577px - 0.0125rem),
   md: calc(768px + 0.125rem),
   lg: 992px,
   max-xlg: calc(993px - 0.0125rem),
   max-xl: calc(1201px - 0.0125rem),
   xl: 1200px,
   xxl: calc(1441px - 0.0125rem),
   max-xxl: 1440px
 );