:root {
  --inter: "Inter", sans-serif;

  --color-accent: #E3B27A;
  /* pergamin */
  --color-dark: #1E1A16;
  /* tusz / ornament */
  /* BORDERY */
  --color-border: #E7DED5;
  --color-secondary: #A5B93E;
  --color-text: #1A1A1A;
  --color-text-muted: #6B6258;

  // --color-accent: #D6B46A;
  /* złoto */
  --color-accent-dark: #B9984E;
  --color-primary: #7A0F15;
  /* bordowy mięsa */
  --color-primary-hover: #641014;

  --color-bg: #F4ECDC;
  /* pergamin */
  --color-surface: #FFFFFF;
}