@use "./__breakpoints" as b;
@use "sass:map";

%btn {
    padding: .5rem 1.25rem;
    border-radius: 999px;
    font-size: clamp(.875rem, 4vw, 1.125rem);
    display: inline-flex;
    // font-weight: 500;
    // text-transform: uppercase;
}

%btn-secondary {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);

    @media (hover: hover) {
        &:hover {
            background: transparent;
            color: var(--color-text);
            border: 1px solid var(--color-text);
        }
    }
}

%btn-primary {
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: var(--color-surface);

    @media (hover: hover) {
        &:hover {
            border: 1px solid var(--color-primary-hover);
            color: var(--color-primary-hover);
            background: transparent;
        }
    }
}