@use "./__breakpoints" as b;
@use "sass:map";

footer {
    // margin-top: 2.25rem;
    background: var(--color-dark, #111827);
    color: var(--color-bg);

    a,
    p {
        font-size: 0.75rem;
    }

    ul {
        list-style: none;
    }

    .footer {
        &__logo {
            img {
                max-width: clamp(6rem, 20vw, 8rem);
            }
        }



    }

    .footer-bottom {
        padding-bottom: 3.5rem;

        .container {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            &:ntn-child(2) {
                @media (min-width: map.get(b.$grid-breakpoints, md)) {
                    margin: 0 auto;
                }
            }

            img {
                max-width: 200px;
            }
        }

    }
}

footer .cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding-block: clamp(1.75rem, 5vw, 3rem);
}

footer a {
    color: var(--color-surface);


    @media (hover: hover) {
        &:hover {
            color: var(--color-primary);
            text-decoration: underline;
        }
    }
}

/* Responsywność */
@media (max-width: 1024px) {


    footer .cols {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 560px) {


    footer .cols {
        grid-template-columns: 1fr;
    }
}