@use "sass:list";
@use "./__breakpoints" as b;
@use "sass:map";

@for $i from 1 through 6 {
  h#{$i} {
    font-weight: 600;
    line-height: 1.3;
    font-family: var(--weather);
    margin: 2rem 0 1rem;
  }
}

h1 {
  font-size: clamp(2rem, 5vw, 3.5rem);
  line-height: 1.15;
}

h2 {
  font-size: clamp(1.625rem, 3.5vw, 2.625rem);
  /* 26px → 56px → 42px */
  line-height: 1.2;
}

h3 {
  font-size: clamp(1.375rem, 2.8vw, 2rem);
  /* 22px → 45px → 32px */
  line-height: 1.25;
}

h4 {
  font-size: clamp(1.25rem, 2.3vw, 1.625rem);
  /* 20px → 36px → 26px */
  line-height: 1.3;
}

h5 {
  font-size: clamp(1.125rem, 2vw, 1.375rem);
  /* 18px → 32px → 22px */
  line-height: 1.35;
}

h6 {
  font-size: clamp(1rem, 1.8vw, 1.125rem);
  /* 16px → 28px → 18px */
  line-height: 1.4;
}