@use "sass:list";
@use "./__breakpoints" as b;
@use "sass:map";

@for $i from 1 through 6 {
  h#{$i} {
    font-weight: 700;
    line-height: 1;
    margin: 2rem 0 1rem;
  }
}

h1 {
  font-size: 2rem;

  @media (min-width: map.get(b.$grid-breakpoints, md)) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.5rem;

  @media (min-width: map.get(b.$grid-breakpoints, md)) {
    font-size: 2.25rem;
  }
}

h3 {
  font-size: 1.25rem;

  @media (min-width: map.get(b.$grid-breakpoints, md)) {
    font-size: 1.875rem;
  }
}

h4 {
  font-size: 1.125rem;

  @media (min-width: map.get(b.$grid-breakpoints, md)) {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1rem;

  @media (min-width: map.get(b.$grid-breakpoints, md)) {
    font-size: 1.25rem;
  }
}

h6 {
  font-size: 0.875rem;

  @media (min-width: map.get(b.$grid-breakpoints, md)) {
    font-size: 1rem;
  }
}
