@use "./__breakpoints" as b;
@use "sass:map";
@use "./extension.scss";

a {
  color: var(--color-text);
  transition: 0.3s;

  &.btn,
  &.button {
    @extend %btn;

    &.btn-secondary {
      @extend %btn-secondary;
    }


    &.btn-primary {
      @extend %btn-primary;
    }
  }

  &.button {
    background-color: var(--color-primary);
    color: var(--color-surface);
    border: 1px solid var(--color-primary);
    font-family: inherit;

    @media (hover: hover) {
      &:hover {
        color: var(--color-primary);
        background: transparent;
      }
    }
  }

  &,
  &:active,
  &:hover {
    outline: none;
    text-decoration: none;
  }

  &:not(.header__logo_link) {
    &:hover {
      background-color: var(--white);
    }
  }

  &.link-arrow {
    font-size: clamp(1.5rem, 2vw, 2.25rem);
    font-weight: 700;
    display: flex;
    align-items: center;

    @media (min-width: map.get(b.$grid-breakpoints, sm)) {
      margin-left: auto;

    }

    svg {
      margin-left: 0.5rem;
      transition: 0.3s;
    }

    @media (hover: hover) {
      &:hover {
        svg {
          transform: translateX(1rem);
        }
      }
    }
  }
}