@use "../sass/components/_breakpoints" as b;
@use "sass:map";

.aw-cat-product {
  display: flex;
  align-items: flex-start;
  gap: .75rem;
  font-family: var(--inter);

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
  }

  &__item {
    flex: 1 1 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(1rem, 5vw, 1.625rem);
    border: 1px solid var(--color-border);
    border-radius: 1rem;
    background: var(--color-bg);
    font-size: .85rem;
    max-width: calc(100%/4);
    text-decoration: none;
    color: var(--color-text);
    transition: .2s ease;

    @media (hover: hover) {
      &:hover {
        border-color: var(--color-primary);
        background: var(--color-accent);
        color: var(--color-dark);

        .aw-cat-product__label-text {
          svg {
            transform: translateX(1rem);
          }
        }
      }
    }
  }

  &__img {
    display: flex;
    flex-direction: column;

    img {
      aspect-ratio: 3/2; // ⭐ możesz ustawić 1/1, 16/9, 3/2 itd.
      // width: 100%;
      // height: 100%;
      // max-width: 15rem;
      // max-height: 9rem;
      object-fit: cover;
      margin-bottom: auto;
    }

  }

  &__label-text {
    flex: 1 1 100%;
    font-size: 1rem;
    display: inline-flex;
    font-weight: 700;
    align-items: center;
    margin-top: 1rem;

    svg {
      margin-left: 0.25rem;
      transition: 0.3s;
    }
  }
}