@use "../sass/components/_breakpoints" as b;
@use "sass:map";

.aw-fb-videos {
  padding-block: clamp(2rem, 5vw, 5rem);

  &__top {
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: clamp(2rem, 4vw, 3.5rem);
    display: flex;
    align-items: center;

    .title-block-ps {
      >* {
        margin-bottom: 0;
      }
    }


  }

  &__grid {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex: 1 1 100%;

    @media (min-width: map.get(b.$grid-breakpoints, sm)) {
      max-width: calc(50% - 0.75rem);
    }

    @media (min-width: map.get(b.$grid-breakpoints, lg)) {
      max-width: calc(100%/3 - 1rem);
    }
  }

  &__embed {
    position: relative;
    width: 100%;
    aspect-ratio: 1 /2;
    max-height: 530px;
    overflow: hidden;
    border-radius: 0.75rem;

    // Jeśli używasz iframe z Facebooka
    iframe {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }

    // Jeśli używasz <div class="fb-video" ...> – Facebook sam sobie ogarnia,
    // ale wymuszamy pełną szerokość wrappera:
    .fb-video {
      width: 100% !important;
    }
  }
}