@use "../sass/components/_breakpoints" as b;
@use "sass:map";

/* Hero */
.aw-hero {
  padding-block: clamp(2rem, 8vw, 4rem);
  background: var(--color-bg);

  .container {
    display: flex;
    gap: clamp(1rem, 4vw, 2rem);
    align-items: center;
    flex-wrap: wrap;
  }

  &__left,
  .media {
    flex: 1 1 100%;

    @media (min-width: map.get(b.$grid-breakpoints, md)) {
      max-width: calc((100%/2) - clamp(.5rem, 2vw, 1rem));

    }
  }

  &__left {
    .title-block-ps {
      >* {
        color: var(--color-dark);
      }
    }
  }

  .media {

    img {
      border-radius: 1rem;
      object-fit: cover;
      aspect-ratio: 4/3;
    }
  }
}