@use "../sass/components/_breakpoints" as b;
@use "sass:map";

/* Hero */
.aw-hero {
  padding-block: clamp(2rem, 5vw, 4rem);

  .container {
    display: flex;
    gap: clamp(1rem, 4vw, 2rem);
    align-items: center;
    flex-wrap: wrap;
  }

  &__left,
  .media {
    flex: 1 1 100%;

    @media (min-width: map.get(b.$grid-breakpoints, md)) {
      max-width: calc((100%/2) - clamp(.5rem, 2vw, 1rem));

    }
  }

  .media {

    img {
      border-radius: 1rem;
      box-shadow: var(--shadow);
      object-fit: cover;
      aspect-ratio: 4/3;
    }
  }
}