@use "../sass/components/_breakpoints" as b;
@use "sass:map";

.aw-statystyki {}

/* Nowości – siatka */
.grid4 {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;

  @media (min-width: 560px) {
    grid-template-columns: repeat(2, 1fr);

  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);

  }




}

.surface {
  background: var(--color-surface);
  border-radius: 1rem;
  box-shadow: var(--shadow);
}